// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import url('ion.rangeslider.css');

@import url('lightbox.css');



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }